.nav-bar-color {
  background-image: linear-gradient(
    to right bottom,
    rgb(74, 222, 128),
    rgb(6, 182, 212)
  );
}

.nav-link-font-size {
    font-size: medium;
}

.nav-custom-padding {
  padding-left: 200px;
  padding-right: 200px;
}

.nav-link-margin {
  margin-left: 20px;
  margin-right: 20px;
}
